.graphic_skills_background {
    background-color: rgba(72, 67, 67, 0.888);
    width: 350px;
    margin-top: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}