.dashboard_background {
    height: 100%;
    flex: 1 1 auto;
}

.dashboard_menu_component_position {
    height: 100%;
    width: 100%;
}

.dashboard-user_id_selector {
    margin-top: 30px;
    margin-left: 20px;
}