.dashboard_background {
    height: 100%;
}

.dashboard_menu_component_position {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.dashboard_user_components_position {
    padding-left: 150px;
    padding-top: 130px;
}