.button-activity_background {
    background-color: white;
    border-radius: 5px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid;
}

.button-activity_background:hover {
    border: 3px red solid;
    cursor: pointer;
}

.button-activity_icon {
   width: 22px;
}