.scoring_energy_card_background {
    display: flex;
    flex-direction: row;
    background-color: rgb(249, 246, 246);
    padding: 30px;
    border-radius: 10px;
    align-items: center;
}

.scoring_energy_card_background_icon {
    padding: 10px;
    margin-right: 20px;
    padding: 25px;
    border-radius: 10px;
}

.scoring_energy_scoring_items_position {
    display: flex;
    flex-direction: column;
}

.scoring_energy_value {
    font-size: 20px;
    font-weight: 700;
}

.scoring_energy_name {
    color: grey;
    font-size: 14px;
    font-weight: 500;
}