.tracking__welcome_items_position {
    display: flex;
    flex-direction: column;
    margin-top: 50px;

}
.tracking_title_welcome_bold {
    font-size: 35px;
    font-weight: 650;
}
.tracking_message {
    margin-top: 25px;
}

.tracking_user_name {
    color: red;
}

.tracking_graphic_items_position_column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tracking_graphic_items_position_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}