.tracking__welcome_items_position {
    display: flex;
    flex-direction: column;
    padding: 50px;

}
.tracking_title_welcome_bold {
    font-size: 35px;
    font-weight: 650;
}
.tracking_message {
    margin-top: 25px;
}

.tracking_user_name {
    color: red;
}

.tracking_items_position {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.tracking_graphic_items_position_column {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    width: 90%;
}

.tracking_graphic_items_position_row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tracking_scoring_items_position {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
}

@media only screen and (max-width: 1100px) {
    .tracking_items_position {
        flex-direction: column;
    }

    .tracking_scoring_items_position {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20px;
        width: 100%;
    }
}

@media only screen and (max-width: 930px) {
    .tracking_scoring_items_position {
        flex-wrap: wrap;
        margin-top: 0px;
        width: 80%;
    }
}