.graphic_activity_background {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(249, 246, 246);
}

.graphic_activity_title {
    margin-top: 8px;
    font-weight: 500;
    font-size: 15px;
}

.graphic_activity_custom_tooltip {
    display: flex;
    flex-direction: column;
    background-color: red;
    color: white;
    justify-content: center;
    padding: 5px;
    height: 60px;
    border-radius: 5px;
}

.graphic_activity_custom_value_kilogram {
    padding-bottom: 5px;
}

.graphic_activity_custom_value_calories {
    padding-top: 5px;
}
